<header>
  <nav class="nav_bar">
    <div>
      <img class="logo" src="/assets/logo.png" />
      <p class="logo-name">
        <i class="italic-logo-name">По всем вопросам обращаться:</i>
        <br/>КОМУ НЕ ПЛЕВАТЬ
      </p>
    </div><br />
    <a class="btn" href="/" id="nav-blue"  >Главная</a>
    <a class="btn isDisabled" href="#" id="nav-green" ></a>
    <a class="btn isDisabled" href="#" id="nav-yellow"></a>
    <a class="btn isDisabled" href="/" id="nav-purple">Рассылка</a>
    <a class="btn isDisabled" href="/" id="nav-red"   >Список</a>
    <a class="btn isDisabled" href="#" id="nav-pink"  ></a>
  </nav>
</header>