/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  color: #fff;
}

body {
  background: url("main_background.jpg") repeat;
  background-size: 400px 150px;
  margin-top: 25px;
  background-color: #000;
}

header {
  margin-bottom: 15px;
}

.main_body{
  width: 1200px;  
  margin-left: auto;
  margin-right: auto;
}

footer{
  width: 1200px;  
  margin-left: auto;
  margin-right: auto;
  background: rgb(0,0,0,0.7);
}

table{
  width: 100%;
}

.nav_bar {
  width: 1200px;
  height: 165px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  text-align: justify;
  text-align-last: justify;
}

.nav_bar a {
  border-radius: 0;
  width: 16%;
  height: 75px;
  line-height: 65px;
  text-decoration: none;
  font-size: 2em;
  color: #fff;    
  text-align: center;
  text-align-last: center;
}

.nav_bar a:hover {
  color: #fff;
}

.nav_bar div {
  text-align: left;
  margin-bottom: 15px;
}

.logo {
  width: 75px;
}

.logo-name {
  float: right;
  height: 75px;
  line-height: 75px;
  font-size: 25px;
  line-height: 1;
  text-align: right;
  text-align-last: right;
}

.italic-logo-name{
  font-size: 15px;
}

.parent_show_email{
  text-align: center;
  vertical-align: top;
  width: 16%;
}

.bnt-show-email{
  white-space: nowrap;
  overflow: hidden;
  background: rgb(255, 94, 0); 
  text-overflow: ellipsis;
}

.show_spisok{
  padding: 10px 0px 0px 0px;
  max-width: 1px;
  min-width: 100%;
}

.bnt-show-email{
  border-radius: 0;
  max-width: 10px;
  min-width: 100%;
  margin-bottom: 10px;
  height: 75px;
  line-height: 60px;
  font-size: 20px;
}

.elements_spisok {
  background: purple;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  padding: 0px 5px 0px 5px;
  border-radius: 0 0 0 10px;
  text-overflow: ellipsis;  
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  min-width: 100%;
}

.parent_show_spisok{
  padding-left: 0.75%;
}

.slide_1{
  width: 100%;
  height: 400px;
}

@media (max-width: 1200px) {

  .nav_bar, .main_body, footer {
    width: 992px;
  }

}

@media (max-width: 992px) {
  .nav_bar, .main_body, footer {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .nav_bar, .main_body, footer {
    width: 576px;
  }
}