#nav-blue {
  background: #3C80EE;
}

#nav-green {
  background: #5AA518;
}

#nav-yellow {
  background: #D1AC26;
}

#nav-purple {
  background: #5132AB;
}

#nav-red {
  background: #D24725;
}

#nav-pink {
  background: #AB338F;
}

header nav a:hover {
  opacity:0.7;
}

